/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #111111;
  /* background-color: #315481;                                           */
  /* background-image: linear-gradient(to bottom, #315481, #918e82 100%); */
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  width: 100%;
  margin: 126px 0px 0px 0px;
  min-height: 100%;
  /* background: white; */
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  background-color: #444444;
  background-image: linear-gradient(to bottom, #444444, #333333 100%);
  /* background: #d2edf4;                                                 */
  /* background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%); */
  padding: 20px 15px 20px 15px;
  color: #eeeeee;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
}

.headerTable {
  width: 100%;
}

.accountsCell {
  vertical-align: top;
  width: 100%;
}

.dropzoneCell {
  color: white;
  opacity: 0.5;
}

#login-buttons {
  display: block;
}

h1 {
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  /* background: white; */
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.imageThumbnail {
  position: relative;
  display: inline-block;
  border-right: 4px solid rgba(0,0,0,0);
  border-bottom: 0px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.imageThumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
  transition: height 0.15s, opacity 0.15s;
  opacity: 1;
}

.imageThumbnail a:hover img:not(.portrait) {
  height: 105%;
  transition: height 0.15s, opacity 0.15s;
  opacity: 0.75;
}

.imageThumbnail img.portrait {
  width: 100%;
  height: auto;
  transition: width 0.15s, opacity 0.15s;
  opacity: 1;
}

.imageThumbnail a:hover img.portrait {
  width: 105%;
  transition: width 0.15s, opacity 0.15s;
  opacity: 0.75;
}

.dropzonePrompt {
  width: 100%;
  height: 100%;
}

.dropzonePrompt td {
  vertical-align: middle;
  text-align: center;
}
